<!--
    # editado por Sergio Giacomini 23/07/2024
-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title> Compra </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		 
    </head>    
    <body></br>
        <div align="center">
            <div align="center" class="border">
                <div class="header">
                    <h1 class="word">Compra</h1>
                </div></br></br>
                <h2 class="word">
                    <div class="msg">Gracias por su compra!</div>
                    <div class="msg">Pronto recibirá en su casilla de correo el detalle de la compra realizada.</div>
                </h2>
                <input type="button" class="btn" value="Volver" onclick="location.href='/lista_espectaculos_compra'">
            </div>
        </div>
    </body>
</html>
<!--
# Fin editado por Sergio Giacomini 23/07/2024
-->