<!DOCTYPE html>
<html lang="es">
    <head>
		<meta charset="UTF-8">
		<title> home </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		 
	</head>
    <body></br></br></br></br></br>
        <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Administración</h1>
            </div></br>

    <button onclick="window.location.href='/register'" class="btn">Registro de usuarios</button></br></br>
    <button onclick="window.location.href='/lista_usuarios'" class="btn">Lista de usuarios</button></br></br>
    <button onclick="window.location.href='/registro_salas'" class="btn">Registro de salas</button></br></br>
    <button onclick="window.location.href='/lista_salas'" class="btn">Lista de Salas</button></br></br>
    <button onclick="window.location.href='/registro_espectaculos'" class="btn">Registro de eventos</button></br></br>
    <button onclick="window.location.href='/lista_espectaculos'" class="btn">Lista de eventos</button></br></br>
</body>
</html>