<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title> index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
	</head>
    <body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Menú Principal</h1>
			</div></br></br></br>
				
			<a href="{{ url_for('lista_salas') }}" class="btn">listar_salas</a>
			
				<h1 class="bottom">
									 
				</h1></br></br></br>
				
		</div>
		</div>
	</body
</html>

