<!DOCTYPE html>
<html lang="es">
    <head>
		<meta charset="UTF-8">
		<title> Lista de Salas </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		 
	</head>
    <body></br></br></br></br></br>
        <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Salas</h1>
            </div></br></br></br>
    <table>
        <tr>
            <th style="border: 1px solid white;">ID</th>
            <!--Guido new 270724-->
            <th style="border: 1px solid white;">Sala</th>
            <!--Guido new 270724-->
            <th style="border: 1px solid white;">Domicilio</th>
            <th style="border: 1px solid white;">Nro</th>
            <th style="border: 1px solid white;">Localidad</th>
            <th style="border: 1px solid white;">Capacidad</th>
        </tr>
        {% for sala in salas %}
        <tr>
            <td style="border: 1px solid white;">{{ sala[0] }}</td>
            <td style="border: 1px solid white;">{{ sala[1] }}</td>
            <td style="border: 1px solid white;">{{ sala[2] }}</td>
            <td style="border: 1px solid white;">{{ sala[3] }}</td>
            <td style="border: 1px solid white;">{{ sala[4] }}</td>
            <td style="border: 1px solid white;">{{ sala[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</br></br></br>                                                     <!--Guido new 22/07/24-->
<input type="button" class="btn" value="Página anterior" onClick="location.href='/home'"> <!--"history.go(-1);">-->
</body>
</html>