<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Inicio Sesión </title> <!--New Guido-->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		 
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header2">
				<h1 class="word">Ingreso<br>Usuarios Registrados</h1> <!--New Guido-->
			</div> <!--New Guido-->
			<br><br><br> <!--New Guido-->
			<!--</div></br></br></br>-->
			<h2 class="word">
				<form action="{{ url_for('login') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input id="username" name="username" type="text" placeholder="Introduzca su Usuario" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="Introduzca su Contraseña" class="textbox"/></br></br></br>
					<input type="submit" class="btn" value="Ingreso"></br></br>
				</form>
			</h2>																				<!--New Guido-->
			<p class="bottom">Todavía no tiene una cuenta? <a class="bottom" href="{{url_for('register_comprador')}}"> Registrese aquí</a></p>
		</div>
		</div>
	</body>
</html>
