<!-- Store this code in 'registro_espectaculos.html' file inside the 'templates' folder -->
						<!--Guido new 24/07/24-->
<html>
	<head>
		<meta charset="UTF-8">
		<title> registro_espectaculos </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			 
	</head>
	<body></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Eventos</h1>
			</div></br>
			<h2 class="word">
				<form action="{{ url_for('registro_espectaculos') }}" method="post">
				<div class="msg">{{ msg }}</div>
<!--
# editado por Sergio Giacomini 21/07/2024
-->
				{% if not espectaculo: %}
					<select name="ID_SALA" class="textbox">
						{% for sala in salas %}
						<option value='{{ sala["ID_SALA"] }}'>{{ sala["NOMBRE_DE_LA_SALA"] }}</option>  
						{% endfor %}
					</select>
					</br></br>
					<input type="hidden" name="ID_ESP" type="text" class="textbox"/>
<!--
# Fin editado por Sergio Giacomini 21/07/2024					
-->
					<input ID_ESP="TITULO_DEL_ESPECTACULO" name="TITULO_DEL_ESPECTACULO" type="text" placeholder="TITULO_DEL_ESPECTACULO" class="textbox"/></br></br>
					<input ID_ESP="FECHA" name="FECHA" type="text" placeholder="FECHA" class="textbox"/></br></br>
                    <input ID_ESP="HORA" name="HORA" type="text" placeholder="HORA" class="textbox"/></br></br>
                    <input ID_ESP="ENTRADA_NRO" name="ENTRADA_NRO" type="int" placeholder="ENTRADA_NRO" class="textbox"/></br></br>
                    <input ID_ESP="PRECIO_UNITARIO" name="PRECIO_UNITARIO" type="decimal(10,2)" placeholder="PRECIO_UNITARIO" class="textbox"/></br></br>
<!--					
# editado por Sergio Giacomini 21/07/2024
-->
				{% else %}
					<select name="ID_SALA">
						{% for sala in salas %}
						<option value='{{ sala["ID_SALA"] }}' {% if sala["ID_SALA"] == espectaculo[0]["ID_SALA"] %} selected="selected" {% endif %}>{{ sala["NOMBRE_DE_LA_SALA"] }}</option>  
						{% endfor %}
					</select>
					</br></br>
					<input type="hidden" name="ID_ESP" type="text" class="textbox" value='{{ espectaculo[0]["ID_ESP"] }}'/>
					<input ID_ESP="TITULO_DEL_ESPECTACULO" name="TITULO_DEL_ESPECTACULO" type="text" placeholder="TITULO_DEL_ESPECTACULO" value="{{ espectaculo[0]["TITULO_DEL_ESPECTACULO"] }}" class="textbox"/></br></br>
					<input ID_ESP="FECHA" name="FECHA" type="text" placeholder="FECHA" class="textbox" value="{{ espectaculo[0]["FECHA"] }}"/></br></br>
					<input ID_ESP="HORA" name="HORA" type="text" placeholder="HORA" class="textbox" value="{{ espectaculo[0]["HORA"] }}"/></br></br>
					<input ID_ESP="ENTRADA_NRO" name="ENTRADA_NRO" type="int" placeholder="ENTRADA_NRO" class="textbox" value="{{ espectaculo[0]["ENTRADA_NRO"] }}"/></br></br>
					<input ID_ESP="PRECIO_UNITARIO" name="PRECIO_UNITARIO" type="decimal(10,2)" placeholder="PRECIO_UNITARIO" class="textbox" value="{{ espectaculo[0]["PRECIO_UNITARIO"] }}"/></br></br>
				{% endif %}
<!--
	# fin editado por Sergio Giacomini 21/07/2024				
-->
					<input type="submit" class="btn" value="Registro"></br></br>
<!--
# editado por Sergio Giacomini 21/07/2024
-->
					<!--Guido new 24/07/24-->
																						<!--Guido new 22/07/24-->
					<!-- <input type="button" class="btn" value="Página anterior" onclick="location.href='/home'"> '/lista_espectaculos'">-->
					<input type="button" class="btn" value="Página anterior" onclick="location.href='{{ prev }}'">
					<!--Guido new 24/07/24-->
				</form>
			</h2>
		</div>
		</div>
	</body>
</html>