<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Register </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			 
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">salas</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('registro_salas') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input ID_SALA="NOMBRE_DE_LA_SALA" name="NOMBRE_DE_LA_SALA" type="text" placeholder="Introduzca NOMBRE_DE_LA_SALA" class="textbox"/></br></br>
					<input ID_SALA="CALLE" name="CALLE" type="text" placeholder="Introduzca CALLE" class="textbox"/></br></br>
					<input ID_SALA="NRO" name="NRO" type="int" placeholder="Introduzca NRO" class="textbox"/></br></br>
                    <input ID_SALA="LOCALIDAD" name="LOCALIDAD" type="text" placeholder="Introduzca LOCALIDAD" class="textbox"/></br></br>
                    <input ID_SALA="CAPACIDAD" name="CAPACIDAD" type="int" placeholder="Introduzca CAPACIDAD" class="textbox"/></br></br>
					<input type="submit" class="btn" value="Registro"></br>
				</form>
			</h2>
			<!--p class="bottom">Ya tiene una cuenta? <a class="bottom" href="{{url_for('login')}}"> Inicie sesión</a></p>-->
		</div>
		</div>
	</body>
</html>
